<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<title>Time Series Chart</title>
	<h1 align="center">Gait Recognization Time Series Charts</h1>
	<h2 align="center">Tsai-Yun Wu</h2>
</head>
<body>
	<div id="left" style="width:50%;height:480px;float:left;display:inline;"></div>
	<div id="right" style="width:50%;height:480px;float:left;display:inline;"></div>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="time_series.js"></script>
</body>
</html>
